
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<style>

/*nav li
{

	display: inline;
		text-decoration: none;
		font-size: 24px;

}*/
.bodycontainer{
 background-color: #f2ffe6;

 font-family: 'Lato', sans-serif;
 color: black;

}
.container
{
	background-color: #e6faff;
}
nav li{
	display: inline;
	margin: 10px;
	font-size: 16px;
	padding-right: 40px;
	
	}
.bodycontainer a:hover{
		text-decoration: none;	
		font-size: 30px;
	     
	}
header p{	
		font-size: 16px;
		text-decoration: none;
		margin-top: 10px;	
		
	}
	header  {	
		background-color: red;
		position: fixed;
		font-family: 'Lato', sans-serif;

	}
	.wrapper header h1{
		margin-top: 10px;
		font-family: cursive;
		font-size: 30px;	
		
	}



	

.Content
{
margin-top: 100px;
text-align: center;

font-size: 50px;

}

.content img
{
 height: 800px;
 width:500px;

}

.emp ul

{


font-size: 50px;
font-family: cursive;
display: inline;
text-decoration: none;	
margin-top: 200px;


}

.peer
{
margin-top: 100px;
background-color: grey;	
font-family: cursive;
}
.peer h1
{
	font-family: cursive;
	font-size: 50px;

}

.cuisene 
{
margin-top: 100px;
background-color: #666;

}

.cuisene ul li img
{
	width:300px;
height:200px;

}

.cuisene ul li h3
{
	font-family: cursive;
	font-size: 50px;
}

.connect 
{
	background-color: grey;
	margin-top:50px;
    color: white;
    text-decoration: none;
    font-family: cursive;

}

.connect ul li
{

	font-size: 20px;
	padding-left:40px;
	font-family: cursive;
}

.connect h1
{

	font-size: 30px;
	font-family: 'Lobster';
}

.wrapper
{

	font-size: 30px;

	
}

.strenghth 
{


	margin-top: 60px;
	background-color: grey;	
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}
.strenghth h1{

margin-top: 100px;
text-align: center;
		
font-size: 60px;
background-color: grey
font-family: 'Lato', sans-serif;
font-family: cursive;

}
.strenghth img
{
	height: 200px;
	width: 800px;	
}

.goodfood
{

	background-color: pink;
}
.fastdelivery
{
	background-color: red;

}

.happycustomer
{

	background-color: yellow;
}