.bodycontainer

{

    font-family: 'Lato', sans-serif;
    color: black	;


}

nav li
{
	display: inline;
	margin: 10px;
	font-size: 16px;
	padding-right: 40px;
	
}

.bodycontainer a:hover
{
    text-decoration: none;	
	font-size: 20px;
	     
}

header p
{	
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;	
		
}
	
header  
{	
	background-color: red;
	position: fixed;
	font-family: 'Lato', sans-serif;

}

.wrapper header h2
{
	margin-top: 00px;
	font-family: cursive;
	font-size: 40px;	
		
}

.Hero h2
{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;

}

.Hero img
{
    height: 800px;
    width:500px;

}

.Ordering ul li

{
    font-size: 50px;
    font-family: cursive;
    display: inline;
    text-decoration: none;	
}

.Countries 
{
	font-family: cursive;
	font-size: 50px;
	background-color: grey;
	margin-top: 7	0px;

}
.Countries h2
{

	font-size: 50px;
}

.cuisene 
{
    margin-top: 100px;
    background-color: #666;

}

.cuisene ul li img
{
    width:300px;
    height:200px;

}

.cuisene ul li h3
{
	font-family: cursive;
	font-size: 50px;
}

.connect 
{
	background-color: red;
	margin-top:50px;
    color: white;
    text-decoration: none;
    font-family: cursive;

}

.connect ul li
{

    font-size: 20px;
	
	font-family: cursive;
}

.connect h1
{

	font-size: 30px;
	font-family: 'Lobster';
}

.wrapper
{

	font-size: 30px;

	
}

.strength 
{


	margin-top: 60px;
	background-color: #FFDEAD;	
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}
.strength h2
{

    margin-top: 100px;
    text-align: center;
	font-size: 60px;
	background-color:#FFDEAD
    font-family:'Lato', sans-serif;
    font-family: cursive;

}

.strength h5
{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    margin-top: 80px;

}
.strenghth img
{
	height: 200px;
	width: 800px;	
}

.goodfood
{

	background-color: #FFF8DC;

}

.fastdelivery
{
	background-color:#FFF8DC;             

}


.happycustomer
{

	background-color:#FFEBCD;

}