.bodycontainer

{

    font-family: 'Indie+Flower', sans-serif;
    color: black	;
    background-color: #EEE8AA;	


}

nav li
{
	display: inline;
	margin: 10px;
	font-size: 16px;
	padding-right: 40px;

}

.bodycontainer a:hover
{
    text-decoration: none;	
	font-size: 20px;
	     
}

header p
{	
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;	
		
}
	
header  
{	
	background-color: #F4A460	;
	position: fixed;
	font-family: 'Lato', sans-serif;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

.wrapper header h2
{
	margin-top: 00px;
	font-family: cursive;
	font-size: 40px;	
		
}

.wrapper img

{
height: 70px;
width:00px;
margin-top: 10px;


}

.Hero h2
{
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
  

}

.Hero img
{
    height: 800px;
    width:px;

}



.Ordering ul li

{
    font-size: 50px;
    font-family: cursive;
    display: inline;
    text-decoration: none;
    
}

.Countries 
{
	font-family: cursive;
	font-size: 50px;
	background-color: #F0E68C;
	margin-top: 70px;

}
.Countries h2
{

	font-size: 50px;
	text-align: center;
}

.cuisene 
{
    margin-top: 50px;
    background-color: #666;

}

.cuisene ul li img
	{
    width:300px;
    height:200px;

}

.cuisene ul li h3
{
	font-family: cursive;
	font-size: 50px;
}

.connect 
{
	background-color: #F4A460;
	margin-top:50px;
    color: white;
    text-decoration: none;
    font-family: cursive;
    overflow: hidden;

}

.connect ul li
{

    font-size: 20px;
	
	font-family: cursive;
}

.connect h1
{

	font-size: 30px;
	font-family: 'Lobster';

}

.wrapper
{

	font-size: 30px;

	
}

.strength 
{


	margin-top: 60px;
	background-color: #FFDEAD;	
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}
.strength h2
{

    margin-top: 100px;
    text-align: center;
	font-size: 60px;
	background-color:#FFDEAD
    font-family:'Lato', sans-serif;
    font-family: cursive;

}

.strength h5
{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    margin-top: 80px;

}
.strenghth img
{
	height: 200px;
	width: 800px	;	
}

.goodfood
{

	background-color: #FFF8DC;

}

.fastdelivery
{
	background-color:#FFF8DC;             

}


.happycustomer
{

	background-color:#FFEBCD;

}

@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: grey;}
    100% {background-color: orange;}
}	

.peer
{

	border: 7px solid black;
	
}

a:hover
{
	text-decoration: none;
}